Repository CrossNox/pyanchorknit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, flake8, isort, mypy

pylint:
  name: pylint
  entry: poetry run pylint pyanchorknit tests
  language: system

black:
  name: black
  entry: poetry run black pyanchorknit tests
  language: system

flake8:
  name: flake8
  entry: poetry run flake8 pyanchorknit tests
  language: system

isort:
  name: isort
  entry: poetry run isort pyanchorknit tests
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

pyanchorknit
  .bumpversion.cfg
  .pre-commit-config.yaml
  README.md
  pyanchorknit/__init__.py
  pyanchorknit/cli/main.py
  pyanchorknit/utils.py
  pyanchorknit/weaving.py
  pyproject.toml
  tests/test_pyanchorknit.py
Due: pylint, black, flake8, isort, mypy

Create LICENSE
  LICENSE
Due: none

changelog
  CHANGELOG.md
  pyproject.toml
Due: none

improve readme
  .bumpversion.cfg
  README.md
  imgs/Johannes-Vermeer-Girl-With-a-Pearl-Earring-weave.png
  imgs/Johannes-Vermeer-Girl-With-a-Pearl-Earring.jpg
  pyproject.toml
Due: none

publish
  README.md
Due: none

bigger image
  imgs/Johannes-Vermeer-Girl-With-a-Pearl-Earring-weave.png
  imgs/Johannes-Vermeer-Girl-With-a-Pearl-Earring.jpg
Due: none

fix JSON key
  .bumpversion.cfg
  CHANGELOG.md
  README.md
  pyanchorknit/weaving.py
  pyproject.toml
  tests/test_pyanchorknit.py
Due: pylint, black, flake8, isort, mypy

parametrize intensity threshold
  pyanchorknit/cli/main.py
  pyanchorknit/weaving.py
Due: pylint, black, flake8, isort, mypy

bump
  .bumpversion.cfg
  CHANGELOG.md
  pyproject.toml
  tests/test_pyanchorknit.py
Due: pylint, black, flake8, isort

ignore jpeg
  .gitignore
Due: none

move to cairo
  .gitignore
  README.md
  imgs/Johannes-Vermeer-Girl-With-a-Pearl-Earring-weave.png
  poetry.lock
  pyanchorknit/weaving.py
  pylintrc
  pyproject.toml
Due: pylint, black, flake8, isort, mypy

img
  README.md
Due: none

move to cairo
  .gitignore
  CHANGELOG.md
  README.md
  imgs/Johannes-Vermeer-Girl-With-a-Pearl-Earring-weave.png
  poetry.lock
  pyanchorknit/weaving.py
  pylintrc
  pyproject.toml
Due: pylint, black, flake8, isort, mypy

bump
  .bumpversion.cfg
  pyproject.toml
  tests/test_pyanchorknit.py
Due: pylint, black, flake8, isort

Path conditions:
  pylint: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: tests/*
